.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 5px 10px;
    width: 350px;
    height: 500px;
    position: relative;
    text-align: center;
    background-color: rgb(226, 164, 164);
    margin-top: 25px;
}