nav {
    height: 80px;
    background: rgb(226, 164, 164);
    box-shadow: 0 10px 15px rgba(230, 148, 148, 0.1);
    .title {
        padding: 5px 0 0 40px;
        height: auto;
        font-size: 3rem;
        text-transform: uppercase;
        text-decoration: none;
        color: black;
    }
    .menu {
        padding: 0;
        margin: 0;
        float: right;
        margin-right: 30px;
        li {
            width: 130px;
            background: rgb(226, 164, 164);
            position: relative;
            list-style: none;
            display: inline-block;
            text-align: center;
            flex-wrap: nowrap;
            &:hover > ul {
                display: block;
            }
            a {
                display: block;
                padding: 0 15px;
                color: white;
                text-decoration: none;
                line-height: 80px;
                font-size: 1.2rem;
                color: black;
                &:hover {
                    background: crimson;
                }
            }
        }
        .subMenu {
            position: absolute;
            top: 60px;
            display: none;
            li {
                width: 130px;
                float: none;
                display: list-item;
                position: relative;
                right: 40px;
                top: 20px;
                z-index: 1;
            }
        }
    }
}