.btn {
    font-size: 18px;
    background: white;
    width: 40px;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-radius: 25px;
}
.btnb {
    font-size: 18px;
    background: white;
    width: 160px;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-radius: 25px;
}